<%- include("partials/top") %>
<div class="card-body">
    <h2>Add task</h2>
    <form action="/task/add" method="POST">
        <input class="form-control mb-3" type="text" placeholder="Title" name="title">
        <textarea class="form-control mb-3" name="description" placeholder="Description" cols="30" rows="5"></textarea>
        <lable>Deadline</lable>
        <input class="form-control mb-3" type="date" name="deadline">
        <lable>Category</lable>
        <select class="form-control mb-3" name="categoryID">
            <% category.forEach((cat)=>{ %>
                <option value="<%= cat.id %>"><%= cat.category %></option>
            <% }) %>
        </select>
        <lable>Priority</lable>
        <select class="form-control mb-3" name="priorityID">
            <% priority.forEach((pri)=>{ %>
                <option value="<%= pri.id %>"><%= pri.priority %></option>
            <% }) %>
        </select>
        <button class="btn btn-primary">ADD</button>
    </form>
</div>
<%- include("partials/bottom") %>

