<%- include("partials/top") %>
<div class="card-body">
    <h2>All category</h2>
    <ul class="list-group">
        <% category.forEach((cat)=>{ %>
            <li class="list-group-item" style="background-color: <%= cat.color; %> ">
                <a href="/category/task/<%= cat.id %>">
                    <%= cat.category; %>
                </a>
            </li>
        <% }); %>
    </ul>
</div>
<%- include("partials/bottom") %>

